#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%; }
  #right img {
    border: 1px solid #0079c1 !important;
  }

.approved {
  color: green !important;
}
.denied {
  color: red;
}